{% extends "base.html" %}

{% block titulo %}Registro{% endblock %}

{% block contenido %}

<section class="container-fluid">
    <h1 class="text-center text-primary">Registrate</h1>
    <h2 class="text-center">Crea una cuenta</h2>
    <p class="text-center">Es rápido y fácil.</p>
    <section class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="container mt-4">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ 'danger' if category == 'error' else 'danger' }} alerts-dismissible fade show"
                    role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith%}
            </div>

            <form method="post" action="/registrame">
                <section class="row">
                    <div class=" col-6 mb-3">
                        <label for="nombre" class="form-label">Nombre </label>
                        <input type="text" required minlength="3" maxlength="100"
                            value="{{ request.form.get('nombre', '')}}" class="form-control" name="nombre" id="nombre"
                            placeholder="Nombre">
                    </div>
                    <div class=" col-6 mb-3">
                        <label for="apellido" class="form-label">Apellido </label>
                        <input type="text" required minlength="3" maxlength="100"
                            value="{{ request.form.get('apellido', '')}}" class="form-control" name="apellido"
                            id="apellido" placeholder="Apellido">

                    </div>
                </section>

                <section class="row">
                    <div class=" col-12 mb-3">
                        <label for="fecha" class="form-label">Fecha de nacimiento </label>
                        <input type="date" required class="form-control" id="fecha" name="fecha" min="1925-01-01" max="2025-12-31"
                            value="{{ request.form.get('fecha', '')}}">
                    </div>
                </section>

                <section class="row">
                    <p>Género</p>
                    <div class="form-check col-4 mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" required name="genero" id="mujer">
                            <label class="form-check-label" for="mujer">
                                Mujer
                            </label>
                        </div>
                    </div>
                    <div class="form-check col-4 mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" required name="genero" id="hombre">
                            <label class="form-check-label" for="hombre">
                                Hombre
                            </label>
                        </div>
                    </div>
                    <div class="form-check col-4 mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" required name="genero" id="otro">
                            <label class="form-check-label" for="otro">
                                Otro
                            </label>
                        </div>
                    </div>
                </section>

                <section class="row">
                    <div class="col-12 mb-3">
                        <label for="cuenta" class="form-label">Correo electrónico.</label>
                        <input type="email" required minlength="5" maxlength="100"
                            value="{{ request.form.get('cuenta', '')}}" class="form-control" name="cuenta" id="cuenta"
                            placeholder="Ingrese un correo electrónico"
                            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
                    </div>
                </section>

                <section class="row">
                    <div class="col-12 mb-3">
                        <label for="contra" class="form-label">Contraseña </label>
                        <input type="password" required minlength="8" maxlength="50"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,50}" value="{{ request.form.get('contra', '')}}"
                            class="form-control" name="contra" id="contra" placeholder="Contraseña nueva"
                            title="Debe contener al menos un número, una mayúscula, una minúscula y una caracter especial.">
                        <div id="passwordHelp" class="form-text">Minimo 8 caracteres</div>
                    </div>

                    <div class="col-12 mb-3">
                        <label for="confirmar" class="form-label">Confirmar contraseña </label>
                        <input type="password" required value="{{ request.form.get('confirmar', '')}}"
                            class="form-control" name="confirmar" id="confirmar" placeholder="Confirmar contraseña">
                    </div>
                </section>

                <section class="row">
                    <div class="col-12 mb-3">
                        <p>Es posible que las personas que usan nuestro servicio hayan subido tu información de
                            contacto
                            a Facebook
                            <a href="#">Más información</a>.
                        </p>
                        <p>Al hacer clic en "Registrarte", aceptas nuestras <a href="#">Condiciones</a>, la <a
                                href="#">Politica de privacidad</a> y la
                            <a href="#">Politica de cookies</a>. Es posible que te enviemos notificaciones por SMS,
                            que
                            puedes
                            desactivar cuando quieras.
                        </p>
                    </div>
                </section>

                <section class="row text-center mb-3">
                    <div class="col-12">
                        <button type="submit" class="btn btn-success">Registrarse</button>
                    </div>
                    <div class="col-12 mt-2">
                        <a href="#">¿Ya tienes una cuenta?</a>
                    </div>
                </section>

            </form>
        </div>
    </section>
</section>

{% endblock %}